---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Boxersteavee" description="About Boxersteavee, AKA Ben">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me!"
				tagline="Thanks for visiting my site, read more about me below!"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a student of the North East Futures UTC in Newcastle, England. I'm 14 years old, I love coding, 3D Printing, Gaming and more!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I'm Studying for my GCSEs in Year 10 at the moment</p>
					<p>The subjects i am studying are:<br>- Computer Science<br>- Business<br>- Physics<br>- Chemistry<br>- Biology<br>- Maths
					<br>- English Literature<br>- English Language</p> 
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>- Piano, I recently passed Grade 4 Piano<br>- Coding, I love coding, fun fact: This website was made using a template I modified from 
						<a href="https://astro.build" target="_blank">Astro</a><br>- Working an Ender 3 Pro 3D Printer, Typing relatively fast</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hobbies</h2>
				<div class="content">
					<p>I enjoy doing as much as I can, but my top hobbies are as follows:<br>- Learning what I can with content found on the internet<br>
					- Coding<br>- 3D Printing<br>- Photography<br>- Astronomy<br>- Piano<br>...and loads more</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
