---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PhotographyPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const photography = (await getCollection('photography')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Photography | Boxersteavee"
	description="Here's some of my photogrraphy content, expect more!"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Photography"
				tagline="Below, you'll see all my photography content, you can explore for yourself to see my understanding of photography"
				align="start"
			/>
			<Grid variant="offset">
				{
					photography.map((photography) => (
						<li>
							<PortfolioPreview photography={photography} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
