---
import Layout from '../layouts/Layout.astro'
---

<main title="Privacy Policy!">

    <h1><span class="text-gradient">Privacy Policy!</span></h1>

    <p>Since my site doesn't have a login page, this will be quite short.</p>


    <h1><span class="text-gradient">3rd Party Services</span></h1>
    <p>My website uses Google Ads (soon) and Astro, those are the only 3rd party services my site uses. If you have any concerns, email me: boxer@boxersteavee.dev</p>
    <a href="https://policies.google.com/privacy">Google Privacy Policy (Ads)</a>


    <h1><span class="text-gradient">Cookies</span></h1>
    <p>The only cookies this website uses are those required to make this site run, you can delete them if you'd like but they will reload when you refresh the page or change to a different page.</p>
</main>