---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Welcome to Astro.">
<main title="Primark - Colour Block Hoodie">
     <h1><span class="text-gradient">Colour Block Hoodie</span></h1>
     <marquee scrollamount=20 height=800><img src=https://cdn.media.amplience.net/i/primark/991047891804_02?w=750><img src=https://cdn.media.amplience.net/i/primark/991047891804_01?w=750><img src=https://cdn.media.amplience.net/i/primark/991047891804_03?w=750><img src=https://cdn.media.amplience.net/i/primark/991047891804_04?w=750></marquee>
     <h4>This hoodie's throwing a colour block party and everyone’s invited!</h4>
     <p>Whether they pair it with leggings, joggers or jeans, this hoodie might just become their favourite-ever wardrobe staple. With a stylish colour block design, this fun hooded sweatshirt has a regular fit, cuffed sleeves and a handy front pocket to keep their hands warm when the temperature drops. Our favourite feature though? The writing along the edge of the hood, which reads “Be unstoppable – now or never”.
     <br><br>Material: Cotton 60%, Polyester 40%
<br><br>Material Origin: Cotton is sourced from small farmers in countries such as India and Pakistan and polyester is recycled.
<br><br>Repair: At Primark, we run a repair programme: <a href=https://corporate.primark.com/newsroom/primark-cares/love-your-clothes-for-longer-through-repair/n/fd65ed61-1421-46f9-8d4f-29e85f2cdefd>Primark Cares: Repair Workshop</a> <p>Alternatively, you can invest in a self-repair kit to repair your clothes at home for less: </p> <a href=https://example.com>Primark Cares Repair Kit<a/>
<p><br>Recycle: If you should wish to get rid of your clothes, we urge you to donate them to our in-store clothes bank. These clothes will then be used for spare fabric in our self-repair kit and can be recycled back into other clothes. We accept clothes of all conditions.
Colour: Black</p>
     <h2>£10.00</h2>
</main>
</Layout>
<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>